<div class="demo-container">
    <div data-o-component="o-panel" data-o-version="1.0.0" class="o-panel">
        <div class="o-panel__header">
            <h3 class="o-panel__heading">Heading</h3>
        </div>
        <div class="o-panel__body">
            o-panel body content
        </div>
    </div>
</div>