/**
  Wrap styles in SASS placeholder and CSS class (if not in silent mode)
  $name:             name of placeholder/class.
*/
@mixin oPanelSelectors($name) {
  $selectors: #{'%#{$name}'};
  @if (not $o-panel-is-silent) {
    $selectors: append($selectors, #{'.#{$name}'}, comma);
  }
  #{$selectors} {
    @content;
  }
}