/**
 * @group o-aside-panel
 * @link http://registry.origami.ft.com/components/o-aside-panel
**/

/**
 * Main mixin for an aside panel
 */
@mixin oAsidePanel {
	position: relative;
	background-color: oColorsGetColorFor(o-aside-panel-body box page, background);
	overflow: hidden;
	.o-aside-panel__tabs--theme {
		display: none;
	}
	.o-aside-panel__tabs--theme[data-o-tabs--js] {
		display: block;
		margin: 0;
		padding: 0;
		float: right;
		font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
		font-size: 11px;
		font-weight: normal;
		text-transform: none;
		[role=tab] {
			display: inline-block;
			margin-right: 10px;
			padding: 0;
			min-height: 28px;
			list-style-type: none;
			a {
				color: oColorsGetColorFor(o-ft-buttons-standard body, text);
				text-decoration: none;
				&:hover {
					color: oColorsGetColorFor(link-hover, text);
				}
			}
			&[aria-selected=true] {
				background-position: bottom center;
				background-repeat: no-repeat;
				background-image: url('data:image/gif;base64,R0lGODlhEQAJAKIAAAAAABEREaelm/fq2QAAAAAAAAAAAAAAACH5BAkAAAQALAAAAAARAAkAAAMcSLoq/FAMB+O4tLbLs+VdJYGgR4xkuaCpyrZlAgA7');
				a {
					pointer-events: none;
					font-weight: normal;
					color: oColorsGetPaletteColor(black);
				}
			}
		}
	}
}

/**
 * Apply to an aside header block
 */
@mixin oAsidePanelHeader {
	@include oFtTypographyHeading2;
	margin-bottom: 0;
	border-bottom: 0;
	padding-left: 10px;
	padding-bottom: 0;
	overflow: hidden;
	background-color: oColorsGetColorFor(o-aside-panel-heading box page, background);
	background-repeat: repeat-x;
	background-position: bottom left;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAIAAABol6gpAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAEUlEQVQImWNYvnT2t5c3cJEAYL0XF6uvDusAAAAASUVORK5CYII=');
}

/**
 * Styling for aside title
 */
@mixin oAsidePanelHeading {
	float: left;
	margin: 0 0 8px;
	padding: 0;
	font-size: inherit;
	line-height: inherit;
}

/**
 * Apply to the main body of the aside
 */
// Float and the margin-left/left 100% positioning is used to ensure o-aside-panel root element is sized to tallest panel
@mixin oAsidePanelBody {
	box-sizing: border-box;
	padding: 10px;
	.o-aside-panel__body {
		border-top: 1px dotted oColorsGetColorFor(o-aside-panel-heading, border);
	}
	&[role=tabpanel] {
		float: left;
		position: relative;
		margin-left: -100%;
		border-top: 0;
		width: 100%;
		&[aria-expanded=true] {
			left: 100%;
		}
	}
}

// uncomment the below when the deprecated stuff is removed as that also spits out these classes
/*
.o-aside-panel {
	@include oAsidePanel;
}

.o-aside-panel__header {
	@include oAsidePanelHeader;
}

.o-aside-panel__heading {
	@include oAsidePanelHeading;
}

.o-aside-panel__body {
	@include oAsidePanelBody;
}
*/
